

mapbox_username=planemad
tileset_id=native-boundaries
MAPBOX_ACCESS_TOKEN=$MAPBOX_ACCESS_TOKEN # Mapbox Access Token with tilesets:write, tilesets:read, and tilesets:list scopes

tileset_name="Native-Land boundaries" 
tileset_description="Native-Land.ca indigenous territory, languages and treaty boundaries" 
tileset_attribution='[{"text":"Native-Land.ca boundaries","link":"https://native-land.ca/"}]'
tileset_privacy=public 